.form {
    // .form__body
    &__body {
        position: relative;
    }

    &__row {
        @include adaptiv-value("margin-left", -17.5, -8, 1);
        @include adaptiv-value("margin-right", -17.5, -8, 1);
    }

    // .form__item
    &__item {
        position: relative;
        font-size: 18px;
        line-height: 26px;
        @include adaptiv-value("margin-bottom", 31, 10, 1);
        @include adaptiv-value("padding-left", 17.5, 8, 1);
        @include adaptiv-value("padding-right", 17.5, 8, 1);

        @media screen and (max-width: $layoutDesktop - 0.02 + 'px') {
            font-size: calc(15px + 3 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(26 / 18);
        }

        &--checkbox {
            margin-bottom: 17px;
        }
    }

    // .form__label
    &__label {
        color: $Gray3;
        display: block;
        @include adaptiv-value("padding-left", 25, 15, 1);
        @include adaptiv-value("padding-right", 25, 15, 1);
        position: absolute;
        @include adaptiv-value("left", 19.5, 10, 1);
        top: 50%;
        transform: translate(0, -50%);
        background-color: $White;
        pointer-events: none
    }

    // .form__input
    &__input {
        @include adaptiv-value("height", 60, 50, 1);
        padding: 17px 25px;
        @include adaptiv-value("padding-left", 25, 15, 1);
        @include adaptiv-value("padding-right", 25, 15, 1);
        border-radius: 0;
        width: 100%;
        border: 1px solid $Gray4;
        text-align: right;
        background-color: $White;
        font-size: 18px;
        line-height: 26px;
        color: $DGray;
        transition: 0.3s ease border 0s;

        @media screen and (max-width: $layoutDesktop - 0.02 + 'px') {
            font-size: calc(15px + 3 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
            line-height: calc(26 / 18);
        }

        &::placeholder {
            color: $Gray3;
            opacity: 1;
            transition: 0.3s ease opacity 0s;
        }

        &:focus {
            &::placeholder {
                opacity: 0;
            }
        }

        &._error {
            box-shadow: 0 0 15px red;
        }
    }
}

textarea.form__input {
    min-height: 120px;
    resize: vertical;
    text-align: left;
}

.options {
    padding: 10px 0px 0px 0px;

    // .options__item
    &__item {
        margin: 0px 0px 10px 0px;
    }

    // .options__input
    &__input {
        display: none;

        &:checked + .options__label::after {
            transform: scale(1);
        }
    }

    // .options__label
    &__label {
        display: inline-flex;
        align-items: center;
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            align-self: flex-start;
            flex: 0 0 24px;
            height: 24px;
            background-color: #fff;
            border-radius: 50%;
            margin: 0px 10px 0px 0px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            width: 16px;
            height: 16px;
            background-color: #7a956b;
            border-radius: 50%;
            transform: scale(0);
            transition: transform 0.5s ease 0s;
        }
    }
}

.file {
    // .file__item
    &__item {
        position: relative;
    }

    // .file__input
    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        font-size: 0;
        cursor: pointer;
    }

    // .file__button
    &__button {
        display: inline-flex;
        min-height: 40px;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        background-color: #77608d;
        padding: 0px 20px;
    }

    // .file__preview
    &__preview {
        display: inline-block;
        max-width: 100px;
        padding: 10px 0px 0px 0px;

        img {
            max-width: 100%;
        }
    }
}

.checkbox {
    &._error {
        .checkbox__label::before {
            box-shadow: 0 0 15px red;
        }
    }

    // .checkbox__input
    &__input {
        display: none;
    }

    // .checkbox__label
    &__label {
        display: inline-flex;
        align-items: center;
        width: 100%;
        font-size: 18px;
        line-height: 26px;
        color: $DGray2;
        position: relative;
        cursor: pointer;

        @media screen and (max-width: $layoutDesktop - 0.02 + "px") {
			font-size: calc(15px + 3 * ((100vw - #{$layoutMobile}px) / (#{$layoutDesktop} - #{$layoutMobile})));
			line-height: calc(26 / 18);
		}

        &::before {
            content: "";
            align-self: flex-start;
            flex: 0 0 24px;
            @include adaptiv-value("flex-basis", 33, 20, 1);
            @include adaptiv-value("height", 33, 20, 1);
            background-color: $White;
            border: 1px solid $Gray4;
            margin: 0px 18px 0px 0px;
            @include adaptiv-value("margin-right", 18, 13, 1);
        }

        &::after {
            content: "";
            @include adaptiv-value("width", 25, 14, 1);
            @include adaptiv-value("height", 25, 14, 1);
            position: absolute;
            @include adaptiv-value("top", 4, 3, 1);
            @include adaptiv-value("left", 4, 3, 1);
            background-color: $DBlue;
            border-radius: 0;
            transform: scale(0);
            transition: transform 0.5s ease 0s;
        }

        a {
            font-weight: 700;
            color: $DGray2;
            text-decoration: underline;
            transition: 0.3s ease color 0s;

            @media screen and (min-width: 992px) {
                &:hover {
                    color: rgba($color: $DGray2, $alpha: 0.6);
                }
            }
        }
    }

    &__input:checked + .checkbox__label::after {
        transform: scale(1);
    }
}


.select {
    position: relative;

    &__item {
        position: relative;
    }

    &__title {
        color: #000;
        border: 1px solid #d9d9d9;
        background-color: #fff;
        cursor: pointer;
        border-radius: 5px;
    }

    &__value {
        display: flex;
        font-size: 16px;
        height: 50px;
        padding: 0px 20px;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;

        &::before {
            content: "";
            display: inline-block;
            transition: all 0.3s ease 0s;
            width: 11px;
            height: 7px;
            background: url("../img/select.svg") center / 100% no-repeat;
        }

        span {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
    }

    &__options {
        color: #000;
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, 100%);
        border-radius: 0 0 4px 4px;
        min-width: 100%;
        background-color: #fff;
        border: 1px solid #d9d9d9;
        border-top: 0;
        font-size: 16px;
        padding: 0px 0px 5px 0px;
    }

    &__option {
        cursor: pointer;
        padding: 10px 20px;
        margin: 0px 0px 0px 0px;
    }

    &._active {
        z-index: 5;

        .select__value::before {
            transform: rotate(-180deg);
        }

        .select__options {
            display: block;
        }
    }
}
