// === Sizes ===
$size-container: 1360;
$layoutDesktop: 1440;
$layoutMobile: 375;
$size-header-height: 157px;
$size-header-height-tablet: 102px;
$size-header-height-mobile: 69px;

// === Font ===
$fontMain: "Lato";
$fontSecond: "CenturyGothic";
$fontThird: "Roboto";
$fontWeight: 400;
$fontSize: 20;
$fontSizeMobile: 15;
$lineHeight: 32;
$fontColor: #333;
// === Color ===

$Black: #000;
$Black2: #213741;
$White: #fff;
$Gray: #333;
$Gray2: #f9f9f9;
$Gray3: #bdbdbd;
$Gray4: #e0e0e0;
$DGray: #4f4f4f;
$DGray2: #828282;
$DBlue: #154b62;
$DBlue2: #203842;
$Cyan: #3196a9;
$Cyan2: #dbe8ec;
$Cyan3: #183741;
$Cyan4: #78b4c5;
