// === Sizes ===
$size-container: 1131;
$layoutDesktop: 1366;
$layoutMobile: 320;
$size-header-height: 91px;
$size-header-height-mobile: 55px;

// === Font ===
$fontMain: "SF Pro Display";
$fontWeight: 400;
$fontSize: 20px;
$lineHeight: 140%;
$fontColor: #1f1f1f;
// === Color ===